@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f1142009b5bd1b297b28ee53798eab31") format("truetype"),
url("./flaticon.woff?f1142009b5bd1b297b28ee53798eab31") format("woff"),
url("./flaticon.woff2?f1142009b5bd1b297b28ee53798eab31") format("woff2"),
url("./flaticon.eot?f1142009b5bd1b297b28ee53798eab31#iefix") format("embedded-opentype"),
url("./flaticon.svg?f1142009b5bd1b297b28ee53798eab31#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pills:before {
    content: "\f101";
}
.flaticon-injection:before {
    content: "\f102";
}
.flaticon-stethoscope:before {
    content: "\f103";
}
.flaticon-doctor:before {
    content: "\f104";
}
.flaticon-insurance:before {
    content: "\f105";
}
.flaticon-medical-record:before {
    content: "\f106";
}
.flaticon-medical-prescription:before {
    content: "\f107";
}
